#container8 {
    height: 133vh;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:rgb(31, 31, 96) ;
    padding-top: 70px;
    padding-right: 70px;
    padding-left: 70px;
    padding-bottom: 20px;

}

  #headandpara{
    margin-left: 108px ;
  }
  #headandpara h1{
    font-size: 60px;
    margin: 20px 0px;
    font-weight: lighter;
  }
  #headandpara p{
    font-size: 15px;
    margin: 40px 0px;
    color:rgba(31, 31, 96, 0.578) ;
  }
#content1 {
    display: flex;
    /* background-color: aqua; */
    margin-top: 100px;
    height: 500px;
    width: 100%;
    justify-content: center;
    align-items: center;
   
}

.icons6 {
    width: 28%;
    height: 100%;
    margin: 0px 30px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.747);
    border-radius: 4px;
    overflow: hidden;
}
.icons6 div {
  overflow: hidden;
}
.icons6 div img{
    width: 100%;
    transition: 0.5s;
}
.icons6 h2,.icons6 p,.icons6 button{
    margin: 20px 30px;
    
}
.icons6 p{
    color:rgb(31, 31, 96) ;
}
.icons6 a{
position: absolute;
display: flex;
justify-content: center;
align-items: center;
height: 3.4em;
width: 14em;
text-decoration: none;
margin: auto;
/* background-color: aqua; */
}
.icons6 button{
border: none;
background: none;
color:rgb(31, 31, 96) ;
letter-spacing: 2px;
font-weight: bold;
height: 100%;
width: 100%;
transition: 0.5s;
border: 3px solid rgb(31, 31, 96);
border-radius: 50px;
}
.icons6 button:hover{
background-color: orange;
color: white;
border-color:orange ;
}
.icons6 div img:hover{
  scale: 115%;
}